@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: 'Instrument Serif', serif;

    --font-sans: Inter, sans-serif;
    --font-sans--font-feature-settings: 'cv11';

    --color-zinc-50: oklch(98.8% 0.003 106.5);
    --color-zinc-100: oklch(96% .003 325.6);
    --color-zinc-200: oklch(92.2% .005 325.62);
    --color-zinc-300: oklch(86.5% .012 325.68);
    --color-zinc-400: oklch(71.1% .019 323.02);
    --color-zinc-500: oklch(54.2% .034 322.5);
    --color-zinc-600: oklch(43.5% .029 321.78);
    --color-zinc-700: oklch(36.4% .029 323.89);
    --color-zinc-800: oklch(26.3% .024 320.12);
    --color-zinc-950: oklch(14.5% .008 326);
}

@theme {
    --color-accent: var(--color-zinc-900);
    --color-accent-content: var(--color-zinc-950);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-zinc-800);
    }
}
